
</p>
<p style="text-align:center;">
<h1>Hello <%=@user.username %>!</h1>
<a href="/trax/new"><button type="button" class="btn btn-default">Create Experience</button></a><br>
<a href="/traxes/show"><button type="button" class="btn btn-default">Show Experiences </button></a><br>
  <a href="/trax/sign_out"><button type="button" class="btn btn-default">Log out</button></a>
</p>
<div class="col-6">
<% Trax.all.each do |trax|%>
<% if trax.user_id == @user.id %>
<!-- So this pulls all lists and checks it it matches the user id before iterating over them -->
<h2><%= trax.name %></h2>
<a href="/traxes/<%=trax.id%>/edit"><i class="fa fa-pencil"></i> Edit List</a>
<a href="/traxes/<%=trax.id%>/delete"><i class="fa fa-times"></i> Delete List</a>
<h4><a href="trax/new/<%=trax.id%>"><i class="fa fa-plus"></i> New Task</a></h4>

<% User.trax.each do |trax| %>
<h4></i> <%= trax.name %>
<a href="/traxes/<%= trax.id %>/edit"><i class="fa fa-pencil"></i>Edit</a>
<a href="/traxes/<%= trax.id %>/delete"><i class="fa fa-times"></i>Delete</a>
</h4>
<% end %>
<% end %>
<% end %>
