<h1> Edit Your Experience </h1>

<% @user = current_user %>
<% @user.traxes.each do |trax|%>
<form action="/traxes/<%= @trax.id %>" method= "POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>
    <label for= "name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @trax.name %>" placeholder="<%= Trax.name %>"> 
    </p>
    <p>
    <label for= "date">Date:</label>
    <input type="date" name="date" id="date"  value="<%= @trax.date %>" placeholder="<%= @trax.date %>"> 
    </p>
    <p>
    <label for= "score">Score:</label>
    <input type="range" name="score" id="score" min="0" max="5" value="<%= @trax.score %>" placeholder="<%= @trax.score %>">
    </p>
 
    <p>
    <label for= "location">Location:</label>
    <input type="text" name="location" id="location"  value="<%= @trax.location %>" placeholder="<%= @trax.location %>">
    </p>
    <p>
    <label for= "number">Phone Number:</label>
    <input type="tel" name="number" id="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%= @trax.number %>" placeholder="<%= @trax.number %>">
    </p>
    <p>
    <label for= "interest">Interest:</label> 
    <input type="radio" name="interest" id="yes"  value="<%= @trax.interest %>" placeholder="<%= @trax.interest %>"> 
    <label for="yes">YES</label>
    <input type="radio" name="interest" id="no" value="<%= @trax.interest %>" placeholder="<%= @trax.interest %>">
    <label for="no">NO</label>
    </p>
    <br><br>
    
    </p>
</form>

<a href="/traxes/<%= @traxes.id %>/delete">
  <form action="/traxes/<%= @trax.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <p>Are you sure you want to delete <%= @trax.name %>?</p>
    <input type="submit" id="delete" value="Delete Experience">
  </form>
</a>

<input class="btn btn-primary" type="submit" name="edit" value="Edit">
</form>

<% end %>
