<h1> Your Recent Experience </h1>
  <% @user.traxes.each do |trax| %>
    <%  trax.user_id == @user.id %>
    Name: <%= trax.name %><br><br>
    Date: <%= trax.date %><br><br>
    Score: <%= trax.score %><br><br>
    Where did you go?: <%= trax.location %><br><br>
    Phone Number: <%= trax.number %><br><br>
    Will you go on another date ?: <%= trax.interest %><br>
  <% end %>
